@tailwind base;
@tailwind components;
@tailwind utilities;

body.red {
    background: #ed1c24 !important;
    font-family: 'Nunito', sans-serif;
}
#splash #container {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 60px;
    margin-left: -40vw;
    margin-top: -30vh;
    text-align: center;
    height: 60vh;
    width: 80vw;
}
#splash .red{fill:#EC2227;}
#splash .green{fill:#046937;}
#splash .white{fill:#FFFFFF;}
#splash .black{fill:#010101;}
#splash .wcm-font{font-family:'Peclet-Regular', sans-serif;}
#splash .wcm-logo{font-size:70px; transition: transform 0.5s;}
#splash .wcm-tag{font-size:20px;}
#splash .parallax-wcm {
    max-height: 50vh;
    max-width: 90vw;
}
#splash #comingsoon {
    font-family:'Peclet-Regular', sans-serif;
    font-size: 1.7rem;
    color: white;
    padding: 0;
    margin: 0 auto;
}

.scrolled {
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    top: -70px;
    z-index: 100;
}
.mapboxgl-map {
    height: 60vh;
}
.marker {
    background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.wcm {
    letter-spacing: -3px;
    text-transform: uppercase;
}
.front {
    font-size: 11rem;
    line-height: 10rem;
}

.about {
    font-family: "Cormorant Garamond", Georgia, serif;
}
