@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolled {
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    top: -70px;
    z-index: 100;
}
.mapboxgl-map {
    height: 60vh;
}
.marker {
    background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.wcm {
    letter-spacing: -3px;
    text-transform: uppercase;
}
.front {
    font-size: 11rem;
    line-height: 10rem;
}

.about {
    font-family: "Cormorant Garamond", Georgia, serif;
}
